.catalog {
    padding: 170px 40px 0;

    &__title {
        padding-bottom: 22px;
        text-align: center;
    }

    &__subtitle {
        margin-top: -40px;
        @include adaptiv(220, 46);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: rgba(255, 255, 255, .03);
    }

    &__list {
        max-width: 1560px;
        margin: -7% auto 0;
        display: block;

        .slick-list {
            padding: 0 4px;
        }
    }
}

@media (max-width: 992px) {
    .catalog {
        padding: 100px 40px 0;

        &__subtitle {
            display: none;
        }

        &__list {
            margin: 30px auto 0;
        }
    }
}
