.catalog {
    padding: 170px 40px 0;

    &__wrapper {
        max-width: 1560px;
        margin: -7% auto 0;
    }

    &__title {
        padding-bottom: 22px;
        text-align: center;
    }

    &__subtitle {
        margin-top: -40px;
        @include adaptiv(220, 46);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: rgba(255, 255, 255, .03);
    }

    &__list {
        display: block;
        margin: -7% auto 0;
        max-width: 1560px;
    }
}

@media (max-width: 992px) {
    .catalog {
        padding: 100px 30px 0;

        &__subtitle {
            display: none;
        }

        &__list {
            margin: 20px auto 0;
        }
    }
}

@media (max-width: 576px) {
    .catalog {
        padding: 100px 6px 0;

        &__title {
            padding: 0;

            &::after {
                display: none;
            }
        }

        &__list {
            margin: 10px auto 0;
        }
    }
}
