.hamburger {
    position: absolute;
    top: 106px;
    right: 96px;
    z-index: 5;
    width: 98px;
    height: 22px;
    cursor: pointer;

    &__cross {
        position: absolute;
        top: 8px;
        left: 0;
        display: block;
        width: 23px;
        height: 1px;
        background-color: #fff;

        &::after {
            position: absolute;
            top: 6px;
            left: 0;
            display: block;
            width: 23px;
            height: 1px;
            content: '';
            background-color: #fff;
        }
    }

    &__text {
        position: absolute;
        right: 0;
        font-size: 20px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
}
