.menu {
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 4;
    width: 100%;
    height: 100vh;
    background-color: $main-bg;
    transition: right .5s;
    overflow: auto;

    &::-webkit-scrollbar {
        background-color: $main-bg;
    }

    &__list {
        margin: 334px auto 200px;
        max-width: 440px;
        width: min-content;
        text-align: center;
    }

    &__item + &__item {
        margin-top: 55px;
    }

    &__link {
        display: block;
        padding: 10px;
        @include adaptiv(35, 15);
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: rgba($color: $white, $alpha: .5);
        transition: all .5s;

        &:hover {
            @include adaptiv(45, 25);
            color: $white;
        }
    }

    &__socials {
        position: fixed;
        left: 95px;
        bottom: 115px;
        opacity: 0;
        transition: all .5s;
    }

    &.active {
        right: 0;

        .menu__socials {
            opacity: 1;
            transition: all .5s .5s;
        }
    }
}

@media (max-width: 992px) {
    .menu {
        &__list {
            margin: 300px auto 150px;
            max-width: 310px;
        }

        &__item + &__item {
            margin-top: 50px;
        }

        &__socials {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .menu {
        &__list {
            margin: 120px auto 60px;
            max-width: 210px;
        }

        &__item + &__item {
            margin-top: 30px;
        }
    }
}
