.socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 170px;

    &__item {
        display: inline-block;
        width: 26px;
        height: 26px;

        &:hover {
            .socials__icon {
                fill: $black;

                &--inst {
                    stroke: $black;
                }

                &--union {
                    fill: $white;
                }
            }

            .socials__border {
                background-color: $white;

                &--round {
                    background-color: transparent;
                }
            }
        }

        &--menu {
            &:hover {
                .socials__icon--menu {
                    fill: $white;
    
                    &-inst {
                        stroke: $white;
                    }
    
                    &-union {
                        fill: none;
                        opacity: 1;
                    }
                }
    
                .socials__border--menu {
                    border-color: $white;
                    background-color: transparent;
                }
            }
        }
    }

    &__border {
        position: relative;
        width: 25px;
        height: 25px;
        border: 1px solid $white;
        border-radius: 4px;
        background-color: transparent;
        transition: all .5s;

        &--round {
            border: none;
        }

        &--menu {
            border-color: rgba($color: $white, $alpha: .5)
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        fill: $white;
        transition: all .5s;

        &--inst {
            width: 14px;
            height: 14px;
            stroke: $white;
            top: 3px;
            right: 3px;
            transform: none;
        }

        &--fb {
            width: 7px;
            height: 15px;
        }

        &--whatsapp {
            width: 13px;
            height: 13px;
            z-index: 1;
        }

        &--vk {
            width: 15px;
            height: 9px;
        }

        &--union {
            width: 25px;
            height: 25px;
            fill: none;
        }

        &--menu {
            fill: rgba($color: $white, $alpha: .5);

            &-inst {
                stroke: rgba($color: $white, $alpha: .5);
            }

            &-union {
                fill: none;
                opacity: .5;
            }
        }
    }
}

@media (max-width: 992px) {
    .socials {
        flex-direction: row;
        max-width: 460px;
        width: auto;
        height: 55px;

        &__item {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background-color: $main-bg;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
