.title {
    position: relative;
    @include adaptiv(30, 20);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    &::after {
        position: absolute;
        left: 50%;
        bottom: 0;
        display: block;
        width: 85px;
        height: 2px;
        content: '';
        background-color: $white;
        transform: translateX(-50%);
    }

    &--promo {
        padding-bottom: 15px;
        line-height: 1.7;

        @media (min-width: 993px) , (max-width: 576px) {
            &::after {
                left: 0;
                transform: none;
            }
        }
    }
}
