@import "variable";
@import "mixins";
@import "normalize";
@import "fonts";

body {
    font-family: Forum, sans-serif;
    font-weight: 400;
    color: $white;

    &.lock {
        overflow: hidden;
    }
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    background-color: $main-bg;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

//Libs
@import "blocks/slick.scss";

//Blocks
@import "blocks/header";
@import "blocks/hamburger";
@import "blocks/main";
@import "blocks/menu";
@import "blocks/btn";
@import "blocks/socials";
@import "blocks/catalog";
@import "blocks/title";
@import "blocks/item";
@import "blocks/promo";
@import "blocks/works";
@import "blocks/footer";
@import "blocks/modal";
