@import "variable";
@import "mixins";
@import "normalize";
@import "fonts";

body {
    font-family: Forum, sans-serif;
    font-weight: 400;
    color: $main-color;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.cfill {
    fill: red;
    stroke: red;
}

//Blocks
@import "blocks/main";
@import "blocks/btn";
@import "blocks/socials";