@import "variable";
@import "mixins";
@import "normalize";
@import "fonts";

body {
    font-family: Forum, sans-serif;
    font-weight: 400;
    color: $white;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    background-color: $main-bg;
}

//Libs
@import "blocks/slick.scss";

//Blocks
@import "blocks/header";
@import "blocks/logo";
@import "blocks/hamburger";
@import "blocks/main";
@import "blocks/btn";
@import "blocks/socials";
@import "blocks/catalog";
@import "blocks/title";
@import "blocks/item";
@import "blocks/promo";
@import "blocks/footer";
